body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif ;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    padding-top: 100px;
}

.wrapper {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center ;
    color: #0c4f8d ;
}

.input-field {
    position: relative;
    margin-bottom: 20px;

}

.input-field input {
    width: 95%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s;
}

.input-field input:focus {
    border-color: #0c4f8d;
    box-shadow: 0 0 4px rgba(12, 79, 141, 0.2);
}

.input-field label{
    padding-bottom: 10px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #aaa;
    transition: all 0.3s;
    pointer-events: none;
}

.input-field input:focus + label,
.input-field input:not(:placeholder-shown) + label {
    top: -5px;
    left: 10px;
    font-size: 12px;
    color: #0c4f8d;
}

.is-invalid {
    border-color: #dc3545 !important;
}

.is-invalid + label {
    color: #dc3545 !important;
}

button {
    width: 100%;
    padding: 10px 0;
    background-color: #0c4f8d;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #083b6a;
}

.error-message {
    margin: 0 auto;
    max-width: 400px;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 6px;
    margin-bottom: 20px;
}

.register {
    text-align: center;
    margin-top: 20px;
}

.register a {
    color: #0c4f8d;
    text-decoration: none;
    font-weight: bold;
}

.register a:hover {
    text-decoration: underline;
}
